# Exclude dependencies
vendor/* linguist-vendored
node_modules/* linguist-vendored

# Treat Blade templates as PHP
*.blade.php linguist-language=PHP

# Ignore compiled assets
public/css/*.css linguist-generated
public/js/*.js linguist-generated

# Exclude logs/configs
*.log linguist-documentation
.env linguist-documentation
